<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="hidden" name="next" value="{% url 'card' %}">
        <input type="submit" value="Login">
    </form>
</body>
</html>